{>header /}
<div>
    <img src="http://i.imgur.com/dqyYpNf.png" />
    <div class="input-group">
        <input class="form-control" id="input" placeholder="Your name">
        <span class="input-group-btn">
            <button class="btn btn-warning" id="button">GIMME</button>
        </span>
    </div>
    {>links /}
</div>
<script>
    var submit = function(label) {
        ga('send', 'event', 'index', 'submit-' + label);
        window.location = '/' + $('input').get('value');
    };
    $('button').addEvent('click', function() {
        submit('button');
    });
    $('input').addEvent('keypress', function(e) {
        if ('enter' == e.key) {
            submit('enter');
        }
    });
</script>
{>footer /}
