{>header /}
<div>
    <img src="http://i.imgur.com/dqyYpNf.png" />
    <div class="input-group">
        <input class="form-control" id="input" type="text" placeholder="Your name">
        <span class="input-group-btn">
            <button class="btn btn-warning" id="button" type="button">GIMME</button>
        </span>
    </div>
    {>links /}
</div>
<script>
    var go = function() {
        window.location = '/' + $('input').get('value');
    };
    $('button').addEvent('click', go);
    $('input').addEvent('keypress', function(e) {
        if ('enter' == e.key) {
            go();
        }
    });
</script>
{>footer /}
